* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #eeeeee;
  background: linear-gradient(
    210deg,
    rgba(3, 3, 3, 1) 0%,
    rgba(64, 64, 64, 1) 35%,
    rgba(60, 61, 78, 1) 100%
  );
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.linkHome {
  position: absolute;
  top: 5vh;
  left: 5vw;
  color: #fff;
  font-size: 25px;
}

.menu--list a {
  color: beige;
}
.menu--list:visited {
  color: blueviolet;
}
